@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --font: 'Montserrat', sans-serif;
    --bg-color: #3AA6B9; 
    --primary-color: #C1ECE4;
    --border-color: #FFD0D0;
    --button-color: #FF9EAA;
}

body{
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font);
}

.contador{
    margin-bottom: 20px;
}

h1{
    font-size: 4.5em;
}

h3{
    font-size: 1.5em;
    
}

.mensagem{
    font-size: 1.8em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--border-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 5px;
}

.btn-novoJogo{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    background-color: var(--border-color);
    color: var(--button-color);
}

.micro{
    margin-top: 15px;
}